{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    Upload de Anexos
{% endblock page_title %}

{% block content %}
    <h1>Upload de Anexos: {{ aluno.nome }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- Espaçamento aumentado entre os campos -->
        <div class="form-group" style="margin-bottom: 20px;">
            {{ form.tipo_documento|as_crispy_field }} <!-- Renderiza o campo Tipo de Documento com label -->
        </div>

        <div class="form-group" style="margin-bottom: 20px;">
            <label for="arquivos"  style="display: block; margin-bottom: 10px;"><p> Selecionar Anexos </p> </label>
            <input type="file" name="arquivos" multiple> <!-- Input para múltiplos arquivos -->

        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <!-- Botão Cancelar redirecionando para a página de informações do aluno -->
        <a href="{% url 'aluno_info' aluno.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>

    <h2>Anexos existentes</h2>
    <ul>
        {% for anexo in anexos %}
            <li>{{ anexo.tipo_documento }}: <a href="{{ anexo.arquivo.url }}">{{ anexo.arquivo.name }}</a></li>
        {% empty %}
            <li>Nenhum anexo disponível.</li>
        {% endfor %}
    </ul>

{% endblock %}
