{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Info. Aluno: {{ aluno.nome }}
{% endblock page_title %}

{% block content %}
    <h1>Informações: {{ aluno.nome }}</h1>

    <p><strong>ID:</strong> {{ aluno.id_num }}</p>
    <p><strong>Data de Nascimento:</strong> {{ aluno.data_nascimento }}</p>
    <p><strong>Idade:</strong> {{ aluno.idade }} anos</p>
    <p><strong>Sexo:</strong> {{ aluno.sexo }}</p>
    <p><strong>CPF - aluno:</strong> {{ aluno.cpf }}</p>
    <p><strong>RG - aluno:</strong> {{ aluno.rg }}</p>
    <p><strong>Nome da mãe:</strong> {{ aluno.nome_mae }}</p>
    <p><strong>CPF - mãe:</strong> {{ aluno.cpf_mae }}</p>
    <p><strong>Nome do pai:</strong> {{ aluno.nome_pai }}</p>
    <p><strong>CPF - pai:</strong> {{ aluno.cpf_pai }}</p>
    <p><strong>e-mail:</strong> {{ aluno.email }}</p>
    <p><strong>Telefone:</strong> {{ aluno.telefone }}</p>
    <p><strong>Endereço:</strong> {{ aluno.endereco }}, {{ aluno.numero_residencia }}, {{ aluno.bairro }} - {{ aluno.cep_residencia }}</p>

    <hr>

    <h2> Histórico de Saúde </h2>
   <p> {{ aluno.historico_saude }}</p>
    <hr>


    <!-- Tabela de Turmas -->
    <h2>Turmas</h2>

    {% if aluno.turma %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome da Turma</th>
                    <th>Ano</th>
                    <th>Professor(es)</th>
                    <th>Disciplinas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ aluno.turma.nome_turma }}</td>
                    <td>{{ aluno.turma.ano_turma }}</td>
                    <td>
                        {% for professor in aluno.turma.professores.all %}
                            {{ professor.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for disciplina in aluno.turma.disciplinas.all %}
                            {{ disciplina.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>O aluno não está matriculado em nenhuma turma.</p>
    {% endif %}

    <hr>

    <!-- Tabela de Atendimentos -->
    <h2>Histórico de Atendimentos</h2>

    {% if aluno.atendimentos.exists %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Responsável</th>
                <th>Função</th> <!-- Nova coluna para a função -->
            </tr>
        </thead>
        <tbody>
            {% for atendimento in aluno.atendimentos.all %}
                <tr>
                    <td>{{ atendimento.data_atendimento }}</td>
                    <td>{{ atendimento.tipo_atendimento }}</td>
                    <td>{{ atendimento.responsavel_atendimento }}</td>
                    <td>
                        {% if atendimento.responsavel_atendimento.funcao_responsavel %}
                            {{ atendimento.responsavel_atendimento.funcao_responsavel }}
                        {% else %}
                            Professor
                        {% endif %}
                    </td> <!-- Exibe a função -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum atendimento registrado para este aluno.</p>
{% endif %}

<a href="{% url 'atendimento_create' aluno.pk %}" class="btn btn-primary">Criar Atendimento</a>

    <hr>

    <!-- Tabela de Anexos -->
    <h2>Anexos</h2>

    {% if anexos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo de Documento</th>
                    <th>Arquivo</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for anexo in anexos %}
                    <tr>
                        <td>{{ anexo.tipo_documento }}</td>
                        <td>{{ anexo.arquivo.name }}</td>
                        <td><a href="{{ anexo.arquivo.url }}" download>Download</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum anexo disponível para este aluno.</p>
    {% endif %}

    <a href="{% url 'aluno_upload_anexos' aluno.pk %}" class="btn btn-primary">Atualizar Anexos</a>
    <a href="{% url 'aluno_update' aluno.pk %}" class="btn btn-warning">Atualizar Cadastro</a>
    <a href="{% url 'alunos_list' %}" class="btn btn-secondary">Voltar para a Lista de Alunos</a>

{% endblock %}