{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    Upload de Anexos para Atendimento
{% endblock page_title %}

{% block content %}
    <h1>Upload de Anexos para Atendimento: {{ atendimento.codigo_atendimento }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group" style="margin-bottom: 20px;">
            {{ form.tipo_documento|as_crispy_field }}
        </div>

        <div class="form-group" style="margin-bottom: 20px;">
            <label for="arquivos" style="display: block; margin-bottom: 10px;">
                <p>Selecionar Anexos</p>
            </label>
            <input type="file" name="arquivos" multiple>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>

        <!-- Botão Cancelar redireciona para a página de informações do atendimento -->
        <a href="{% url 'atendimento_info' pk=atendimento.aluno.pk atendimento_pk=atendimento.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>

    <h2>Anexos do Atendimento</h2>
    <ul>
        {% for anexo in atendimento.anexos_atendimento.all %}
            <li>
                {{ anexo.tipo_documento }}: <a href="{{ anexo.arquivo.url }}">{{ anexo.arquivo.name }}</a>
                <!-- Formulário de exclusão do anexo com os parâmetros corretos -->
                <form action="{% url 'atendimento_excluir_anexo' pk=atendimento.aluno.pk atendimento_pk=atendimento.pk anexo_pk=anexo.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                </form>
            </li>
        {% empty %}
            <li>Nenhum anexo disponível.</li>
        {% endfor %}
    </ul>
{% endblock %}

